body{
    margin: 0px;
    font-family: Raleway;
    color: #354657;
}
header{
height: 120px;
background-color: #F8F4FC;
}
footer{
    margin-top: 150px;
    height: 100px;
    border-top: 1px solid #E2E2E2;
    }
.conteiner{
    width: 67%;
    margin: 0px auto;
}
.nav_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.header_link{
    margin-left: -19rem;
}
.header_links{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #354657;
    padding: 20px;
}
.icons1{
    padding: 10px;
}
.nav_down{
    margin-top: 15px;
}
.sublinks a{
    text-decoration: none;
    color: #626262;
    font-weight: 400;
    font-size: 14px;
}
.sublinks div{
    display: inline-block;
    text-decoration: none;
    color: #626262;
    font-weight: 400;
    font-size: 14px;
}
.sublinks a:hover:nth-child(3){
    text-decoration: underline;
}
.sublinks a:hover:nth-child(5){
    text-decoration: underline;
}
.header2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 70px;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 17px;
}
.grid{
        display: grid;
        grid-template-columns: 384px 874px;
        grid-template-rows: 113px 818px;
        gap: 30px;
        margin-top: 30px;
}
.block_1{
    background-color: #F0F2F5;
}
.check1{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.block_1 input{
    appearance: none;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 1px solid #946FD3;
    transition: 0.2s all linear;
    outline: none;
    margin: 0px;
    margin-right: 5px;
  }
  .block_2 input{
    appearance: none;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 1px solid #946FD3;
    transition: 0.2s all linear;
    outline: none;
    margin: 0px;
    margin-right: 5px;
  }
  .block_4 .pay input{
    appearance: none;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 1px solid #946FD3;
    transition: 0.2s all linear;
    outline: none;
    margin: 0px;
    margin-right: 5px;
  }
  label{
    font-weight: 400;
    font-size: 14px;
  }
  .block_4 .pay input:checked {
    outline:1px solid #946FD3;
	border:2px solid #fff;
	background-color:#946FD3;
  }
  input:checked {
    outline:1px solid #946FD3;
	border:2px solid #fff;
	background-color:#946FD3;
  }
  input#reg{
      margin-left: 20px;
  }
  input#delivery2{
    margin-left: 20px;
}
input#delivery3{
    margin-left: 20px;
}
input#pay2{
    margin-left: 20px;
}
input#pay3{
    margin-left: 20px;
}
.block_2{
    background-color: #F0F2F5;
}
.block_3{
    background-color: #F0F2F5;
}
.block1_cont{
    margin: 20px;
}
.title{
    font-size: 20px;
    font-weight: 700;
}
.check2{
    margin-top: 25px;
}
.block_3 input{
    width: 338px;
    height: 34px;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    margin-top: 10px;
}
.block_3 input::placeholder {
    font-size: 14px;
    font-weight: 400;
    font-family: Raleway;
    color: #ADA8A8;
    padding-left: 20px;
}
.check3{
    margin-top: 19px;
}
.title2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}
.pay{
height: 113px;
background-color: #F0F2F5;
}
.block1_cont2 {
    padding: 20px;
}
.title3{
    font-size: 20px;
    font-weight: 700;
}
.title4{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
}
.basket{
    margin-top: 20px;
    width: 100%;
	border-collapse: collapse;
}
.title5{
    height: 40px;
    background-color: #F0F2F5;
    text-transform:uppercase;
    text-align: left;
}
.basket tr th:nth-child(1){
    padding-left: 20px;
    width: 20%;
}
.basket tr th:nth-child(2){
    width: 20%;
}
.basket tr th:nth-child(3){
    width: 20%;
}
.basket tr th:nth-child(4){
    width: 20%;
}
.basket tr th:nth-child(5){
    width: 20%;
}
table tbody td:nth-child(1){
    padding-left: 20px;
    padding-top: 5px;
}
table tbody td:nth-child(2){
    font-size: 14px;
    font-weight: 400;
}
.block_4 table tbody td input{
    width: 46px;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border: 1px solid #E9E9E9; 
    margin-right: 10px;
  }
.block_4 table tbody td img:nth-child(2){
    margin-right: 10px;
  }
.num_buy{
    display: flex;
}
.final{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.final div:nth-child(2){
    margin-left: 30px;
}
.final tbody tr{
    width: 338px;
    height: 47px;
    text-transform:uppercase;
}
.final tbody tr th{
    text-align: right;
    font-size: 14px;
    font-weight: 700;
}
.final tbody tr td{
    padding-left: 30px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
.comm{
    margin-top: 30px;
    height: 318px;
    background-color: #F0F2F5;
}
.comm_cont{
padding: 20px;
}
textarea{
    width: 834px;
    height: 86px;
    resize: none;
    border: 1px solid #B6B6B6;
    margin-top: 10px;
}
.checkbox{
    display: flex;
    margin-top: 17px;
}
.checkbox label{
    font-size: 16px;
    font-weight: 400;
}
.block_4 input#data{
    appearance: none;
    border-radius: 2px;
    width: 17px;
    height: 17px;
    border: 1px solid #946FD3;
    transition: 0.2s all linear;
    outline: none;
    margin: 0px;
    margin-right: 8px;
  }
.comm_cont div:nth-child(1){
    font-size: 20px;
    font-weight: 700;
}
.comm_cont div:nth-child(2){
    margin-top: 15px;
}
.block_4 textarea::placeholder {
    font-size: 14px;
    font-weight: 400;
    font-family: Raleway;
    color: #ADA8A8;
    padding-left: 11px;
    padding-top: 9px;
}
.block_4 input#data:checked {
    outline:1px solid #946FD3;
	border:2px solid #fff;
	background-color:#946FD3;
  }
.final_btn{
    text-decoration: none;
    padding: 17px 33px;
    background-color: #946FD3;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-left: 39rem;
}
.comm_cont div:nth-child(4){
    margin-top: 2.5rem;
}
.nav_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}