body{
    font-family: Raleway;
    margin: 0px;
}
.conteiner{
    width: 67%;
    margin: 0px auto;
}
.nav_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header_link{
    margin-left: -19rem;
}
.header_links{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #354657;
    padding: 20px;
}
.nav_header a{
    color: #354657;
}
.nav_footer a{
    color: #354657;
}
.icons1{
    padding: 10px;
}
.section1{
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}
.section1 .conteiner{
    position: relative;
    -webkit-animation:  section1 5s ease-in;
    animation: section1 1.5s ease-in ;
    animation-delay: 2s;
    overflow: hidden;
    transform: translateX(-100vh);
    animation-fill-mode: forwards;
}
.title1{
    font-weight: 900;
    font-size: 48px;
    color: white;
    padding-top: 154px;
    line-height: 56px;
}
.text1{
    font-weight: 400;
    font-size: 24px; 
    color: white;
    padding-top: 30px;
    line-height: 28px;
}
.btn1{
    text-decoration: none;
    padding: 17px 44px;
    background-color: #946FD3;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.section1 a{
    color: white;
}
.section2 a{
    color: white;
}
.section1 div:nth-child(3){
    margin-top: 55px;
    padding-bottom: 40px;
}
.section2{
    background-color: #F0E5FF;
    height: 269px;
}
.items{
   display: flex;
}
.botle{
    width: 43%;
}
.botle img:nth-child(1){
    position: relative;
    left: 19px;
    top: -29px;
    animation: bottle1  2s infinite linear;
}
.botle img:nth-child(2){
    position: relative;
    left: -92px;
    top: -49px;
    animation: bottle2  2s infinite linear;
}
.info{
width: 57%;
padding-top: 42px;
}
.info div:nth-child(1) a{
    text-decoration: none;
    color: #946FD3;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
.info div:nth-child(2){
    font-size: 38px;
    color: #354657;
    font-weight: 700;
}
.info div:nth-child(3){
    margin-top: 30px;
}
.card2{
    margin-right: 25px;
}
.section3_title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.card-title{
    font-size: 24px;
    font-weight: 700;
}
.card-text{
    padding-top: 15px;
    font-size: 16px;
    font-weight: 400;  
}
.btn2{
    text-decoration: none;
    padding: 17px 44px;
    background-color: white;
    border: 1px solid #946FD3;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #946FD3;
    text-align: center;
}
.card-body div{
    margin-top: 30px;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    border: none;
    box-sizing: border-box;
    width: 32%;
    height: 560px;
}
.card:hover{
    color: white;
    background-color: #946FD3;
    border: 1px solid white;
    box-sizing: border-box;
    transition: all .7s;
    transform: rotateY(180deg);
}
.card:hover .btn2{
    background-color: #946FD3;
    border: 1px solid white;
    color: white;
    box-sizing: border-box;
}
footer{
    border-top: 1px solid #E2E2E2;
}
.nav_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
@keyframes section1 {
    from,
    to {
        transform: translateX(-100vh)
    }         
    100% {
        transform: translateX(0);
    }   
}
@keyframes bottle1 {
    from {
    }         
    to {
        transform:rotate(-360deg);
    }   
}
@keyframes bottle2 {
    from {
    }         
    to {
        transform:rotate(360deg);
    }   
}
@media screen and (max-width: 1832px) {
    .botle img:nth-child(2){
        position: relative;
        left: 160px;
        top: -340px;
    }
  }