body{
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}
  .conteiner{
      width: 67%;
      margin: 0px auto;
      padding-top: 50px;
      padding-bottom: 50px;
  }
.logo{
  background-image: url(../img/logo1.png);
  background-repeat: no-repeat;
  background-position: left;
  color: #fff;
  text-transform: uppercase;
  float: left;
  transition: all .7 ease-in-out;
}
.logo:hover{
  background-image: url(../img/logo2.png);
  color: #f26522;
}
.logo-milan{
  margin-left: 59px;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: justify;
}
.logo-holiday{
  margin-left: 59px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: justify;
}
.header_info{
  float: right;
  text-align: right;
  font-size: 1.2rem;
}
.block{
  height: 200px;
  width: 300px;
}
.con-main1{
  width: 67%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.con-main2{
  width: 67%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.block_1{
  background-image: url(../img/milan1.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px black;
}
.block_2{
  background-image: url(../img/milan2.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px black;
}
.block_3{
  background-image: url(../img/milan3.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px black;
}
.block_4{
  background-image: url(../img/milan4.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px black;
}
.block_5{
  background-image: url(../img/milan5.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px black;
}
.block_6{
  background-image: url(../img/milan6.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px black;
}
.block_text{
text-align: center;
margin-top: 10px;
}
.block{
  display: flex;
}
.bar{
visibility: hidden;
position: absolute;
width: 300px;
height: 50px;
background-color: #f26522;
margin-top: 152px;
}
.text{
display: flex;
}
.details{
margin-left: 7.75rem;
margin-top: 1.3rem;
font-size: 0.9rem
}
.details::after{
  content: " >";
  padding-left: 10px;
  color: #f58c59;
  font-weight: bold;
}
.price{
  margin-left: 0.6rem;
  margin-top: 0.5rem;
  font-size: 0.6rem;
}
span{
  font-size: 1.2rem;
  font-weight: normal;
}
.sector:hover .bar{
  visibility: visible;
  transition: all 0.2s;
  margin-top: 150px;
}
.sector:hover .block_text{
  color: #f26522;
  transition: all .5;
}
.footer{
  display: flex;
  width: 100%;
  margin-top: 150px;
  justify-content: center;
}
