body{
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100%;
  color: white;
  }
  .wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  main{
    flex: 1 1 auto;
  }
  .conteiner{
    width: 60%;
    margin: 0px auto;
}
a{
    text-decoration: none;
    color: white;
  }
.nav_top{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.nav_top2{
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.header_btn{
    display: inline-block;
    
}
.header_info2 a:nth-child(1){
  text-decoration: none;
  padding: 13px 35px;
  background-color: #1ACD4C;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 700;
  color: black;
  text-align: center; 
  text-transform: uppercase;
  box-sizing: border-box;
}
.header_info2 a:nth-child(2){
  text-decoration: none;
  padding: 13px 45px;
  background-color: #1ACD4C;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 700;
  color: black;
  text-align: center; 
  text-transform: uppercase;
  box-sizing: border-box;
}
.header_info2 a:hover{
  background-color: transparent;
  outline: 1px solid #1ACD4C;
  color: #1ACD4C;
  box-sizing: border-box;
}
.header_info2 a:nth-child(1){
  margin-right: 10px;
}
.header_info1 a:nth-child(1){
  font-family: Caveat;
  font-size: 48px;
  font-weight: 400;
  color: #1ACD4C;
  display: inline-block;
}

.smoke1{
  background-image: url(../img/bg3.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 45rem;
}
.smoke2{
  background-image: url(../img/bg6.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 57rem;
}
.wall{
  background-image: url(../img/bg4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 60rem;
}
.smoke3{
  background-image: url(../img/bg6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 57rem;
}
.smoke4{
  background-image: url(../img/bg5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 70rem;
}
.wall2{
  background-image: url(../img/wall2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0rem;
  height: 1157px;
}
.adress{
  display: inline-block;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.adress a:nth-child(2){
  font-weight: 700;
}
.section1{
  background-image: url("../img/bg2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}
.title1{
  font-weight: 900;
  font-size: 55px;
  color: white;
  padding-top: 113px;
  line-height: 67px;
}
.text1{
  font-weight: 400;
  font-size: 24px; 
  color: white;
  padding-top: 30px;
  line-height: 29px;
}
.text2{
  font-weight: 400;
  font-size: 18px; 
  color: white;
  padding-top: 30px;
  line-height: 22px;
}
.section1 .conteiner div:nth-child(4){
  margin-top: 30px;
}
.section1 .conteiner div a:nth-child(2){
margin-left: 20px;
}
.btn1{
  text-decoration: none;
  padding: 15px 47px;
  background-color: #1ACD4C;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 700;
  color: black;
  text-align: center; 
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: 40px;
}
.btn1:hover{
  background-color: transparent;
  outline: 1px solid #1ACD4C;
  color: #1ACD4C;
  box-sizing: border-box;
}
.btn2{
  text-decoration: none;
  padding: 15px 86px;
  background-color: #1ACD4C;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 700;
  color: black;
  text-align: center; 
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: 40px;
}
.btn2:hover{
  background-color: transparent;
  outline: 1px solid #1ACD4C;
  color: #1ACD4C;
  box-sizing: border-box;
}
.btn4{
  text-decoration: none;
  padding: 15px 62px;
  background-color: #1ACD4C;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 700;
  color: black;
  text-align: center; 
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: 40px;
}
.btn4:hover{
  background-color: transparent;
  outline: 1px solid #1ACD4C;
  color: #1ACD4C;
  box-sizing: border-box;
}
.title2{
  font-weight: 900;
  font-size: 36px;
  color: white;
  line-height: 43,88px;
}
.grid_conteiner{
  margin-left: 18%;
  margin-top: 30px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  
}
.cart{
  width: 360px;
  height: 200px;
}
.grid div:nth-child(1){
  background-image: url("../img/cart1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid div:nth-child(2){
  background-image: url("../img/cart3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid div:nth-child(3){
  background-image: url("../img/cart1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid div:nth-child(4){
  background-image: url("../img/cart1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid div:nth-child(5){
  background-image: url("../img/cart2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid div:nth-child(6){
  background-image: url("../img/cart1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid div:nth-child(7){
  background-image: url("../img/cart5.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.grid div:nth-child(8){
  background-image: url("../img/cart2.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.section3 .conteiner .title2{
  margin-top: 75px;
}
.menu{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.sale{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.sale1{
  background-image: url("../img/info1.png");
  background-repeat: no-repeat;
  width: 540px;
  height: 235px;

}
.sale2{
  background-image: url("../img/info2.png");
  background-repeat: no-repeat;
  width: 540px;
  height: 235px;
}
.sale1 div:nth-child(1){
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 130px;
  margin-left: 30px;
}
.sale1 div:nth-child(2){
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-left: 30px;
  margin-top: 7px;
}
.sale2 div:nth-child(1){
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 130px;
  margin-left: 30px;
}
.sale2 div:nth-child(2){
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-left: 30px;
  margin-top: 7px;
}
.contacts{
  display: flex;
  margin-top: 30px;
}
.contacts_text{
  display: flex;
  flex-direction: column;
}
.adr1{
  display: flex;
  padding-left: 44px;
  margin-top: 10px;
}
.adr2{
  display: flex;
  padding-left: 44px;
  margin-top: 10px;
}
.adress_text1{
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
}
.adress_text2{
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.adress_text{
  margin-left: 20px;
}
.contacts_text div:nth-child(1){
  margin-top: 10px;
}
.contacts_text div:nth-child(3){
  margin-top: 40px;
  margin-left: 100px;
}
.btn3{
  text-decoration: none;
  padding: 15px 86px;
  background-color: #1ACD4C;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 700;
  color: black;
  text-align: center; 
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: 40px;
}
.btn3:hover{
  background-color: transparent;
  outline: 1px solid #1ACD4C;
  color: #1ACD4C;
  box-sizing: border-box;
}
.adr1 div img{
  margin-top: 10px;
}
.adr2 div img{
  margin-top: 10px;
}
.footer_text{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-top: 50px;
  padding-bottom: 25px;
}
.pagebody{
  background-image: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: white;
}
.pageinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.pageinfo2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 90px;
}
.pageinfo3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo{
  font-family: Caveat;
  font-size: 48px;
  font-weight: 400;
  color: #1ACD4C;
  display: inline-block;
  line-height: 60px;
}
.logo1{
  font-family: Caveat;
  font-size: 30px;
  font-weight: 400;
  color: #1ACD4C;
  display: inline-block;
  line-height: 38px;
  padding-right: 18px;
}
.pagetitle{
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 15px;
}
.check1{
  padding-top: 
  15px;
}
input{
  width: 264px;
  height: 46px;
  border: 1px solid #4F4F4F;
  background-color: #131313;
  border-radius: 150px;
  color: white;
  font-size: 17px;
}
input::placeholder {
  font-size: 15px;
  font-weight: 400;
  font-family: Raleway;
  color: #4F4F4F;
  padding-left: 10px;
}
input:hover {
  border:1px solid #FFFFFF;
}
.check_btn{
  margin-top: 30px;
}
.enter_tbl{
  text-decoration: none;
  color: #1ACD4C;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: center; 
  text-transform: uppercase;
  margin-top: 32px;
}
.pagetitle2{
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 15px;
}
.pagetext{
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.pagetext1{
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 15px; 
}
.card{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
  border-left: 1px solid #272727;
}
.header_info3{
  display: flex;
  align-items: center;
}
.header_info4{
  display: flex;
}
.top_menu1{
  list-style: none;
}
.nav_top1{
  float: left;
  padding: 0px;
  text-align: center;
}
.nav_top1>a{
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 1.2rem;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 13px;
  line-height: 16px;
}
.header_border{
  border-bottom: 1px solid #272727;
}
.pagetitle3{
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.pagetitle4{
  color: #1ACD4C;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-bottom: 15px;
}
.pagetitle5{
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 15px;
}
.pagetitle6{
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
}
.statistic{
  display: flex;
}
.stat1{
  display: flex;
  padding: 1rem 6rem;
}
.stat_norm{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.stat_bolt{
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
}
.stat1 div{
  padding-left: 10px;
}
#check{
  color: #4F4F4F;
  text-decoration: line-through;
}
.place{
  display: flex;
    align-items: center;
    padding-top: 60px;
}
.place img{
  padding-left: 20rem;
}
.pagetitle7{
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  padding-top: 90px;
}
.table {
	width: 100%;
  border-collapse: collapse; 
  margin-top: 30px;
}
.tbody{
  border: 1px solid #272727;
}
.table thead th {
	font-weight: 700;
	text-align: left;
  border-bottom: 1px solid #272727;
  text-transform: uppercase;
	padding: 15px 15px;
	font-size: 13px;
  color: #727272;
}
.table tbody td {
  font-weight: 400;
	text-align: left;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #272727;
	padding: 15px 15px;
	font-size: 16px;
	vertical-align: top;
}
.table_nav{
  padding-top: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
.arrow1{
  background-image: url(../img/arrow2.png);
  background-repeat:no-repeat;
  transform: scale(-1, 1)
}
.table_nav a{
  padding: 0 20px;
}
.table_nav a:hover{
  color: #4F4F4F;
}
#green{
color: green;
}
#red{
  color: red;
  }