.head {
    display: flex;
    min-width: 750px;
    max-width: 800px;
        height: 235px;
        background-color: #2d7053;
}
.circle 
{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 50px 20px 50px 50px;
}
.toptext
{
  color: white;
  width: 170px;
  height: 170px;
  margin-left: 5px;
  margin-top: 22px;
  font-family: "MyriadPro-Regular"; 
  font-size: 30px;
}
.menu
{
    width: 100px;
    height: 100px;
    margin: 80px 50px 0px 230px;
}
.line
{
    width: 70px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    margin: 15%;
}
.body1
{
    display: flex;
    min-width: 750px;
    max-width: 800px;
    height: 682px;
    background-image: url('../img/photo1.jpg');
}
.link{
  color: white;
  text-decoration: none;
}
.button1
{
    width: 350px;
    height: 70px;
    margin-top: 32rem;
    margin-left: 15rem;
    background: #cb9223;
    text-align: center;
    line-height: 70px; 
    font-size: 25px;
    font-family: "MyriadPro-Regular"; 
    color: white;
    text-decoration: none;
}
.body2 
{
    margin-top: 50px;
    display: flex;
    min-width: 750px;
    max-width: 800px;
}
.photo2
{
width: 240px; 
height: 240px;
border-radius: 50%;
    margin: 50px;
    margin-right: 20px;
}
.textphoto2
{
  color: rgb(0, 0, 0);
  margin-left: 50px;
  margin-top: 120px;
  margin-bottom: auto;
  font-family: "MyriadPro-Regular"; 
  font-size: 35px;
}
.textphoto3
{
  color: rgb(0, 0, 0);
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: auto;
  font-family: "MyriadPro-Regular"; 
  font-size: 27px;
}
.info1
{
  color: rgb(0, 0, 0);
  width: 750;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: auto;
  font-family: "MyriadPro-Regular"; 
  font-size: 25px;
}
.info2
{
  color: rgb(0, 0, 0);
  width: 750;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: auto;
  font-family: "MyriadPro-Regular"; 
  font-size: 37px;
}
li
{list-style-type:"– ";}

.info3
{
  color: rgb(0, 0, 0);
  width: 750;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: auto;
  font-family: "MyriadPro-Regular"; 
  padding-left: 10px;
  font-size: 25px;
}
.button2
{
    width: 350px;
    height: 70px;
    margin-top: 3rem;
    margin-left: 15rem;
    background: #cb9223;
    text-align: center;
    line-height: 70px; 
    font-size: 25px;
    font-family: "MyriadPro-Regular"; 
    color: white;
    text-decoration: none;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    min-width: 750px;
    max-width: 800px;
    height: 153px;
    background-color: #888888;
}
.circle2
{
    width: 96px;
    height: 96px;
    background-color: white;
    border-radius: 50%;
    margin: 30px;
    margin-right: 20px;
}
.foottext1
{
  color: white;
  font-family: "MyriadPro-Regular"; 
  font-size: 16px;
  margin-top: 6rem;
  margin-left: 11rem;
}
.contact div{
  margin-top: 43px;
  padding-left: 50px;
}
.contact{
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
  padding-top: 3.3rem;
}
.contact a
{
  text-decoration: none;
  color: white;
  font-family: "MyriadPro-Regular"; 
  font-size: 16px;
}
.contact a:nth-child(2){
  padding-top: 20px;
}
@font-face {
    font-family: "MyriadPro-Regular"; 
    src: url("../style/MyriadPro-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }