body{
    margin: 0px;
    font-family: Raleway;
    color: #354657;
}
header{
height: 120px;
background-color: #F8F4FC;
}
footer{
    height: 100px;
    border-top: 1px solid #E2E2E2;
    }
.conteiner{
    width: 67%;
    margin: 0px auto;
}
.nav_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.header_link{
    margin-left: -19rem;
}
.header_links{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #354657;
    padding: 20px;
}
.icons1{
    padding: 10px;
}
.nav_down{
    margin-top: 15px;
}
.sublinks a{
    text-decoration: none;
    color: #626262;
    font-weight: 400;
    font-size: 14px;
}
.sublinks div{
    display: inline-block;
    text-decoration: none;
    color: #626262;
    font-weight: 400;
    font-size: 14px;
}
.sublinks a:hover:nth-child(3){
    text-decoration: underline;
}
.sublinks a:hover:nth-child(5){
    text-decoration: underline;
}
.header2{
    font-size: 30px;
    font-weight: 700;
    padding-top: 70px;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 17px;
}
.grid{
        display: grid;
        grid-template-columns: 384px 874px;
        grid-template-rows: 441px;
        gap: 30px;
        margin-top: 30px;
        padding-bottom: 100px;
}
.block_1{
    background-color: #F0F2F5;
}
.block1_cont{
    margin-top: 48px;
    margin-left: 23px;
}
.nav_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}
.logo_border{
    width: 60px;
    height: 60px;
    border: 2px solid #D6D9DE;
    border-radius: 100px;
}
.adress{
    display: flex;
    align-items: center;
}
.adress img{
    display: inline-block;
margin-top: 17px;
margin-left: 19px;
}
.adress_text{
    padding-left: 17px;
}
.title{
    font-weight: 700;
    font-size: 20px;
}
.text{
    padding-top: 7px;
    font-weight: 400;
    font-size: 16px;
}
.text a{
    text-decoration: none;
    color: #946FD3;
    font-weight: 700;
}
.block1_cont .adress:nth-child(2){
    margin-top: 35px;
}
.block1_cont .adress:nth-child(3){
    margin-top: 35px;
}
.adress img#phone{
    margin-top: 17px;
    margin-left: 18px;
}
.adress img#mail{
    margin-top: 20px;
    margin-left: 18px;
}
.btn{
    text-decoration: none;
    padding: 17px 72px;
    background-color: #946FD3;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.block1_cont div:nth-child(4){
    margin-top: 45px;
}
.icons{
    display: flex;
    align-items: center;
}
.icons a:nth-child(6){
    margin-left: 30px;
}
.nav_footer div:nth-child(2){
    margin-right: 9rem;
}
.bg{
   background-image: url(../img/flower.png);
   background-repeat: no-repeat;
   background-position: right;
}
/* 
.bg{
    width: 1920px;
    min-width: 1800px;
    position: absolute;
    z-index: -1;
    left: 1920px;
} */