body{
    font-family: Montserrat;
    min-width: 1820px;
    max-width: 1920px;
    height: 100vh;
    color: white;
    margin: 0px auto; 
  }
.header{
    min-width: 1820px;
    max-width: 1920px;
height: 100px;
border-bottom: 1px solid #C4C4C4;
display: flex;
justify-content: center;
font-size: 1rem;
}
.header_conteiner{
    width: 65%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;

}
.city{
        width: 500px;
        background-image: url(../img/icon.png);
        background-repeat: no-repeat;
        background-position: 5px center;
        font-size: 1rem;
        padding: 15px 30px;
        border-radius: 5px;
        margin-right: 150px;
}
.btn_1{
    display: inline-block;
    background-color: #EF781A;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 20px;
}
.btn_2{
    display: inline-block;
    background-color: #00D008;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    }
.main_container{
    width: 65%;
    margin: 0 auto;
    color: black;
    height: 380px;
    background-color: #FFD086;
    border-radius: 10px;
}
.info_1{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}
.text_1{
    font-weight: 800;
    font-size: 36px;
}
.text_2{
    margin-top: 25px;
    font-weight: 500;
    font-size: 20px;
}
.header_2{
    min-width: 1820px;
    max-width: 1920px;
    margin-top: 30px;
    }
    .header_conteiner_2{
        width: 65%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
    
    }
    .header_title{
        color: black;
        font-weight: 700;
        font-size: 36px;
    }
    .search{
            width: 500px;
            background-image: url(../img/icon2.png);
            background-repeat: no-repeat;
            background-position: 5px center;
            font-size: 1rem;
            padding: 15px 30px;
            border-radius: 10px;
            border: none;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    }
.info2{
    width: 65%;
    margin: 0 auto;
    margin-top: 35px;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.grid a{
    width: 100%;
    height: 230px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 15px -9px ;
    display: flex;
}
.grid2 a{
    width: 100%;
    height: 230px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0px 5px 15px -9px ;
    display: flex;
}
.grid a:nth-child(1){
    background-image: url("../img/pic-1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(2){
    background-image: url("../img/pic-2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(3){
    background-image: url("../img/pic-3.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(4){
    background-image: url("../img/pic-4.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(5){
    background-image: url("../img/pic-5.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(6){
    background-image: url("../img/pic-6.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(7){
    background-image: url("../img/pic-7.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(8){
    background-image: url("../img/pic-8.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(9){
    background-image: url("../img/pic-9.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(10){
    background-image: url("../img/pic-10.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(11){
    background-image: url("../img/pic-11.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(12){
    background-image: url("../img/pic-12.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid a:nth-child(13){
    background-image: url("../img/pic-13.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid2 a:nth-child(1){
    background-image: url("../img/pic-14.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid2 a:nth-child(2){
    background-image: url("../img/pic-15.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid2 a:nth-child(3){
    background-image: url("../img/pic-15.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid2 a:nth-child(4){
    background-image: url("../img/pic-16.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.card_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info_down{
    height: 90px;
    width: 400px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
  
}
.info_time{
    display: inline-block;
}
.info_delivery{
    display: inline-block;
}
.info_top1{
    background-color: #EF781A;
    color: white;
    text-decoration: none;
    width: 140px;
    padding: 10px 0px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}
.info_top2{
    background-color: #FF0C0C;
    color: white;
    text-decoration: none;
    width: 120px;
    padding: 6px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}
.info_top3{
    background-color: #FF0C0C;
    color: white;
    text-decoration: none;
    width: 195px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}
.info_name{
    font-size: 24px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 10px;
}
.info_time{
    padding: 7px 7px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    background-image: url(../img/icon3.png);
        background-repeat: no-repeat;
        background-position: 5px center;
    background-color: #FE7D34;
    font-size: 14px;
    font-weight: 600;
    text-align: -webkit-right;
    margin-top: 10px;
    margin-left: 20px;
}
.info_delivery{
    padding: 7px 2px;
    border-radius: 5px;
    width: 85px;
    text-align: center;
    background-image: url(../img/icon4.png);
        background-repeat: no-repeat;
        background-position: 5px center;
    background-color: #00D008;
    font-size: 14px;
    font-weight: 600;
    text-align: -webkit-right;
    margin-left: 10px;
}
.info_delivery_2{
    padding: 7px 2px;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    background-image: url(../img/icon4.png);
        background-repeat: no-repeat;
        background-position: 5px center;
    background-color: #00D008;
    font-size: 14px;
    font-weight: 600;
    text-align: -webkit-right;
    margin-left: 10px;
    display: inline-block;
}
.header3{
    margin-top: 300px;
    height: 120px;
    background-color: #F8F4FC;
    }
    .conteiner{
        width: 65%;
        margin: 0px auto;
    }
    .nav_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
    }
    .header_link{
        margin-left: -18rem;
    }
    .header_links{
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: #354657;
        padding: 20px;
    }
    .icons1{
        padding: 10px;
    }
    .nav_down{
        margin-top: 15px;
    }
    .sublinks a{
        text-decoration: none;
        color: #626262;
        font-weight: 400;
        font-size: 14px;
    }
    .sublinks div{
        display: inline-block;
        text-decoration: none;
        color: #626262;
        font-weight: 400;
        font-size: 14px;
    }
    .sublinks a:hover:nth-child(3){
        text-decoration: underline;
    }
    .sublinks a:hover:nth-child(5){
        text-decoration: underline;
    }
.footer2{
    margin-top: 300px;
    min-width: 1820px;
    max-width: 1920px;
    height: 100px;
background: linear-gradient(to right, #323232, #000000);
display: flex;
flex-direction: column;
justify-content: center;
}
.footer_cont3{
    width: 65%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    
}
.footer_links2{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 10px;
}
