
.header{
    max-width: 1210px;
    min-width: 1000px;
    margin-top: 20px;
    margin-left: 20px;
font-size: 70px;
color: rgba(0, 0, 0, 255);
font-family: "MyriadPro-Regular", sans-serif;
}
.header_color{
    color: #4bcaff;
}
.top_menu1{
    background-color: #35444f;
    max-width: 1210px;
    min-width: 1000px;
    list-style: none;
    padding: 0px;
    overflow: auto;
    
}
.nav_top{
    float: left;
    padding: 0px;
    text-align: center;
}
.nav_top>a{
    display: inline-block;
    padding: 1.2rem 0;
    width: 100%;
    text-decoration: none;
    color: white;
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 25px;
}
.nav_top>a:hover{
    background-color: #222f3a;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
    box-sizing: border-box;
    }
.top_menu1>:nth-child(1){
        width: 30%;
    }
.top_menu1>:nth-child(2){
        width: 15%;
    }
.top_menu1>:nth-child(3){
        width: 30%;
    }
.top_menu1>:nth-child(4){
        width: 25%;
    }
.body{
    display: flex;
    max-width: 1210px;
    min-width: 1000px;
}
.nav{
    list-style: none;
    margin-left: 20px;
    margin-top: 40px;
    padding: 0;
    width: 25%;
    height: fit-content;
    border: 1px solid #35444f;
}
.nav_left>a{
    text-decoration: none;
    color: #838383;
    font-family: "MyriadPro-Regular", sans-serif;
    padding: 1rem;
    display: inline-block;
    font-size: 25px;
    width: 100%;
    box-sizing: border-box;
    transition: all .5s;
}
.nav_left:hover > a{
    background-color: #dbdbdb;
    color: black;
    padding-left: 40px;
}
.logo_back{
    width: 1000px;
    height: 530px;
    border: 1px solid #35444f;
    margin-left: 50px;
    margin-top: 40px;
    background-color: white;
}
.logo{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    height: 380px;
    width: 320px;
    display: inline-block;
    margin-left: 300px;
    margin-top: 80px;
}
.text1{
    max-width: 800px;
    min-width: 600px;
    margin-top: 50px;
    display: flex;
    margin-left: 24rem;
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 18px;
}
.text2{
    max-width: 800px;
    min-width: 600px;
    margin-top: 35px;
    display: flex;
    margin-left: 24rem;
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 18px;
}
.footer{
    display: flex;
    max-width: 1190px;
    min-width: 1000px;
    min-height: 70px;
    max-height: max-content;
    margin-top: 50px;
    margin-left: 20px;
    background-color: #b4b7ba; 

}
.links{
    display: flex;
}
.links_footer{
    height: 30px;
    margin-top: 23px;
    margin-left: 25px;
}
.links_footer>a{
    text-decoration: none;
    color: black;
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 25px;
    transition: all .2s;
}
.links_footer:hover>a{
    color: #3181a6;
}
.year{
    display: inline-block;
    font-family: "MyriadPro-Regular", sans-serif;
    font-size: 23px;
    margin-left: 200px;
    margin-top: 24px;
}
@font-face {
    font-family: "MyriadPro-Regular"; 
    src: url("../style/MyriadPro-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }